{% extends "layout.html" %}

{% block title %}
    Search for Biocontainers!
{% endblock %}

{% block body %}
      <h1>Search Results</h1>
      {% for biocontainer in biocontainers %}
      	   BiotoolsID: {{ biocontainer.biotoolsid }} <br>
           <ul>
             <li>Name:   {{ biocontainer.name }} </li><br>
             <li>Description:  {{ biocontainer.description}} </li><br>
             <li>Homepage URL: {{biocontainer.homepage}} </li><br>
           </ul>
      {% endfor %}

      <a href="{{ url_for('home') }}">Homepage</a><br>
      <a href="{{ url_for('searchpage') }}">Search</a>



{% endblock %}
