{% extends "layout.html" %}

{% block title %}
    BioContainers Search
{% endblock %}

{% block body %}
      <br><br>
      <h1>Search</h1>
      <br>
      Use the table below to browse and search the BioContainers modules that are installed on TACC's compute resources.
      <br><br>
      <table id="myTable" class="table table-striped w-auto table-hover table-sm table-bordered">
          <thead>
            <tr style="text-align: center;">
              <th>Name</th>
              <th>Description</th>
              <th>Category</th>
              <th>Module Name</th>
              <th>Keywords</th>
              <th>URL</th>
              <th class="none">Versions</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <td>{{ result.name }}</td>
                <td>{{ result.description }}</td>
                <td>{{ result.category }}</td>
                <td>{{ result.modulename }}</td>
                <td>{{ result.keywords }}</td>
                <td><a href="{{ result.url }}">{{ result.url }}</a></td>
                <td>{{ result.version }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      <br><br>

{% endblock %}
